<div class="uk-section-secondary uk-section uk-section-xlarge">
  <div class="uk-container">
    <div class="tm-grid-expand uk-grid-margin uk-grid" uk-grid="">
      <div class="uk-grid-item-match uk-width-1-1@s uk-width-1-2@m uk-first-column">
        <div class="uk-flex">
          <div class="uk-tile uk-width-1-1 uk-flex uk-flex-middle uk-background-norepeat uk-background-center-center"
            uk-img="" style="background-image: url(./assets/svg/home-contact-texture.svg);">
            <div class="uk-panel uk-width-1-1">
              <h2 class="uk-heading-medium uk-text-left@m uk-text-center"> <a class="el-link uk-link-heading"
                  href="/joomla/themes/vision/lets-talk">Let’s&nbsp;work <br class="uk-visible@l">together</a> </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-grid-item-match uk-flex-middle uk-width-1-2@s uk-width-1-4@m">
        <div class="uk-panel uk-width-1-1">
          <h3 class="uk-text-left@m uk-text-center"> Contacts </h3>
          <div class="uk-panel uk-margin uk-text-left@m uk-text-center">Santo Domingo,<br>
            Dominican Republic</div>
          <div class="uk-h4 uk-margin-remove-vertical uk-text-left@m uk-text-center"> <a class="el-link uk-link-reset"
              href="tel:18294302840">+1 (829) 430 2840</a> </div>
          <div class="uk-margin-remove-vertical uk-text-left@m uk-text-center">
            <a class="el-content" href="mailto:rafaelalexanderr5@gmail.com">
              <span id="cloaka1222608f52a468969cc6d9958480453">rafaelalexanderr5@gmail.com</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="tm-grid-expand uk-grid-large uk-margin-large uk-grid" uk-grid="">
      <div class="uk-grid-item-match uk-flex-middle uk-width-1-2@m">
        <div class="uk-panel uk-width-1-1">
          <div class="uk-margin uk-text-left@m uk-text-center">
            <div class="uk-child-width-auto uk-grid-small uk-flex-inline uk-grid" uk-grid="">
              <div class="uk-first-column">
                <a class="el-link" href="https://twitter.com/Rafareyes007" target="_blank" rel="noopener">
                  <span uk-icon="icon: twitter;" class="uk-icon"></span>
                </a>
              </div>
              <div>
                <a class="el-link" href="https://www.instagram.com/alexander_repz/" target="_blank" rel="noopener">
                  <span uk-icon="icon: instagram;" class="uk-icon"> </span>
                </a>
              </div>
              <div>
                <a class="el-link" href="https://www.linkedin.com/in/rafael-alexander-reyes-perez-499924186/"
                  target="_blank" rel="noopener">
                  <span uk-icon="icon: linkedin;" class="uk-icon"> </span>
                </a>
              </div>
              <div>
                <a class="el-link" href="https://www.youtube.com/channel/UCy1yRc4KyhzOwKn-bZJiIqA" target="_blank"
                  rel="noopener">
                  <span uk-icon="icon: youtube;" class="uk-icon"> </span>
                </a>
              </div>
              <div>
                <a class="el-link" href="https://github.com/rareyesrd" target="_blank" rel="noopener">
                  <span uk-icon="icon: github;" class="uk-icon"> </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-grid-item-match uk-flex-middle uk-width-1-2@m uk-flex-first@m uk-first-column">
        <div class="uk-panel uk-width-1-1">
          <div class="uk-panel uk-text-muted uk-text-center">
            &copy; All rights reserved <a class="uk-link-muted" href="https://rarepz.com">Rafael A. Reyes</a>.</div>
        </div>
      </div>
    </div>
  </div>
</div>
