<div class="uk-margin-xlarge uk-container" id="about">
  <div class="tm-grid-expand uk-grid-large uk-grid" uk-grid="">
    <div class="uk-grid-item-match uk-width-1-2@m uk-first-column">
      <div class="uk-flex">
        <div class="uk-tile uk-width-1-1 uk-flex uk-flex-middle uk-background-norepeat uk-background-top-left"
          style="background-image: url(./assets/svg/home-circle-background.svg); background-size: 380px 390px; background-position-y: calc(4.7px);"
          data-src="./assets/svg/home-circle-background.svg" uk-img="" uk-parallax="bgy: 0,30">
          <div class="uk-panel uk-width-1-1">
            <div class="uk-margin uk-text-center uk-scrollspy-inview" uk-scrollspy-class="uk-animation-fade">
              <img width="620" alt="features" [ngStyle]="{'color':'#fff'}" uk-svg=""
                uk-img="./assets/svg/home-features.svg" src="./assets/svg/home-features.svg" hidden="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-grid-item-match uk-flex-middle uk-width-1-2@m">
      <div class="uk-panel uk-width-1-1">
        <h2 class="uk-width-xlarge uk-margin-auto uk-text-bold uk-text-left@m uk-text-center uk-scrollspy-inview"
          uk-scrollspy-class=""> Adept at contributing to a collaborative work environment.
        </h2>
        <h4 class="uk-panel uk-text-default uk-width-xlarge uk-margin-auto uk-scrollspy-inview uk-text-bold"
          uk-scrollspy-class="">
          Professional skills:
        </h4>
        <ul class="uk-flex uk-flex-wrap uk-flex-wrap-around">
          <li *ngFor="let skill of professionalSkills" class="uk-width-1-3">{{ skill }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
