<div class="uk-text-center">
  <h1 class="uk-text-bold">Projects</h1>
  <h3 class="uk-text-normal">Here you can see some on my open source and deployed projects
  </h3>
</div>


<section class="uk-container uk-padding uk-padding-remove-top">
  <article class="uk-width-2xlarge uk-white uk-padding  uk-background-muted uk-card-project"
    *ngFor="let project of projects">
    <div class="uk-flex uk-flex-middle" [ngStyle]="{'gap':'20px'}">
      <div class="imagen">
        <img [src]="project.image" alt="npm angular library" width="50px" height="50px">
      </div>
      <div class="content">
        <h3 class="uk-margin-remove uk-text-bold">{{ project.title }}
        </h3>
      </div>
    </div>
    <p>{{ project.description }}</p>
    <div class="uk-flex uk-flex-middle" [ngStyle]="{'gap':'20px'}">
      <a *ngIf="project.more.text" [href]="project.more.link" target="_blank" rel="noopener"
        class="button-expand-information">{{ project.more.text }}</a>
      <a *ngIf="project.code.text" [href]="project.code.link" target="_blank" rel="noopener"
        class="button-expand-information">{{ project.code.text }}</a>
    </div>
  </article>
</section>


<div class="uk-text-center">
  <h1 class="uk-text-bold">Websites</h1>
  <h3 class="uk-text-normal">Here you can see some static websites as landing and templates i've build
  </h3>
</div>


<section class="uk-container uk-padding uk-padding-remove-top">

  <article class="uk-width-2xlarge uk-white uk-padding  uk-background-muted uk-card-project">
    <div class="uk-flex uk-flex-center">
      <img src="./assets/images/html-css-js.png" alt="Websites tecnologies" class="uk-margin-auto" width="100px">
    </div>
    <p>Those website were built using HTML5, CSS#, Javascript and Scss.</p>
    <div class="uk-flex uk-flex-middle uk-flex-around uk-flex-wrap" [ngStyle]="{'gap':'20px'}">
      <a *ngFor="let website of websites" [href]="website.more.link" target="_blank" rel="noopener"
        class="button-expand-information uk-width-1-3 uk-text-center">{{ website.more.text }}</a>
    </div>
  </article>
</section>
