<div class="uk-container uk-padding">
  <h2 class="uk-text-center  uk-text-2xlg uk-text-bold">
    My Experience
  </h2>
  <div class="uk-timeline">
    <div class="uk-timeline-item">
      <div class="uk-timeline-icon">
        <span class="uk-badge"><span uk-icon="check"></span></span>
      </div>
      <div class="uk-timeline-content">
        <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <h3 class="uk-card-title"><time datetime="2020-07-08">Since August 2021</time></h3>
              <span class="uk-label uk-label-success uk-margin-auto-left">Remote</span>
            </div>
          </div>
          <div class="uk-card-body">
            <h3>UI User Interface Manager at Refactoring.do</h3>
            <p class="uk-text-success">
              Managing the design and development of web-
              based technical solutions that engage users
              and meet business requirements.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-timeline-item">
      <div class="uk-timeline-icon">
        <span class="uk-badge"><span uk-icon="check"></span></span>
      </div>
      <div class="uk-timeline-content">
        <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <h3 class="uk-card-title"><time datetime="2020-07-07">July 7</time></h3>
              <span class="uk-label uk-label-warning uk-margin-auto-left">Test</span>
            </div>
          </div>
          <div class="uk-card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-timeline-item">
      <div class="uk-timeline-icon">
        <span class="uk-badge"><span uk-icon="check"></span></span>
      </div>
      <div class="uk-timeline-content">
        <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <h3 class="uk-card-title"><time datetime="2020-07-06">July 6</time></h3>
              <span class="uk-label uk-label-danger uk-margin-auto-left">Fix</span>
            </div>
          </div>
          <div class="uk-card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
