<section class="uk-container uk-padding uk-padding-remove-top" id="experience">
  <h2 class="uk-text-centeruk-text-2xlg uk-text-bold uk-text-center uk-padding-large">
    My Experience
  </h2>
  <div class="uk-flex uk-flex-between experience" [ngStyle]="{'gap':'10px'}">
    <div class="uk-timeline-right uk-width-1-2@m">
      <h3 class="uk-text-center uk-text-bold uk-padding-small">Professional</h3>
      <article class="uk-timeline-item" *ngFor="let profession of profesionalExperience">
        <div class="uk-timeline-content">
          <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto">
            <div class="uk-card-header">
              <div class="uk-grid-small uk-flex-middle" uk-grid>
                <h4 class="uk-card-title uk-text-bolder uk-text-default">{{ profession.time }}</h4>
                <span class="uk-label uk-margin-auto-left">{{ profession.typeOfWork }}</span>
              </div>
            </div>
            <div class="uk-card-body">
              <h4 class="uk-text-bold">{{ profession.position }}<span
                  class="uk-text-italic uk-margin-small-left working-place">{{ profession.place }}</span></h4>
              <p class="uk-text-default">
                {{ profession.description }}
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="uk-timeline-left uk-width-1-2@m">
      <h3 class="uk-text-center uk-text-bold uk-padding-small">Educational</h3>
      <article class="uk-timeline-item" *ngFor="let educational of educationalExperience">
        <div class="uk-timeline-content">
          <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto">
            <div class="uk-card-header">
              <div class="uk-grid-small uk-flex-middle" uk-grid>
                <h4 class="uk-card-title uk-text-bolder uk-text-default">{{ educational.time }}</h4>
              </div>
            </div>
            <div class="uk-card-body">
              <h4 class="uk-text-bold">{{ educational.title }}</h4>
              <p class="uk-text-default">
                {{ educational.place }}
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
